extends layout

block content
    h1= title
    form#formAddBusiness(name="addbusiness",method="post",action="/addbusiness")
        input#inputBusinessName(type="text", placeholder="businessname", name="businessname")

        </br>
        </br>
        input#inputBusinessEmail(type="text", placeholder="businessemail", name="businessemail")
        </br>
        </br>
        input#inputcity_id(type="text", placeholder=" city_id", name=" city_id")
        </br>
        </br>
        input#inputpincode(type="text", placeholder="pincode", name="pincode")
        </br>
        </br>
        input#inputlatitude(type="text", placeholder="latitude", name="latitude")
        </br>
        </br>
        input#inputlongitude(type="text", placeholder="longitude", name="longitude")
        </br>
        </br>
        input#inputphone_no(type="text", placeholder="phone_no", name="phone_no")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
        input#inputstatus(type="text", placeholder="status", name="status")
        </br>
        </br>
       
        button#btnSubmit(type="submit") submit