extends layout

block content
    h1= title
    form#formAddTag(name="addtag",method="post",action="/addtag")
        input#inputTagName(type="text", placeholder="tagname", name="tagname")

    
       
       
        button#btnSubmit(type="submit") submit